.custom-table .ant-table-thead > tr > th {
  background-color: #e6e6fa;
  color: black;
  font-weight: "bold";
}
.custom-table .green-row {
  background-color: #a1f7a1 !important; /* Change this to your desired green color */
}
