#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
div,
p,
span {
  /* font-family: "poppins", sans-serif !important; */
}
/* @font-face {
  font-family: "poppins-bold";
  src: url(./assets/font/Poppins/Poppins-Bold.ttf);
}


@font-face {
  font-family: "poppins";
  src: url(./assets/font/Poppins/Poppins-Regular.ttf) format("truetype");
} */

@font-face {
  font-family: "DancingScript-Bold";
  src: url(./assets/font/dancing_script/DancingScript-Bold.ttf);
}

.sidebar {
  color: #fff;
  /* min-width: 250px !important; */
}

.ant-menu-submenu-title {
  padding-left: 0.4em !important;
  font-weight: 700;
}
.ant-menu-submenu .ant-menu-submenu-inline > .ant-menu-submenu-title {
  padding-left: 0.8em !important;
  font-weight: 500;
}

li .ant-menu-item {
  padding-left: 1em !important;
}
.ant-menu-title-content {
  margin-inline-start: 5px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 50%;
}

.menu-bar {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 1rem;
  width: auto;
  position: relative;
}

.toggle-theme-btn {
  position: absolute;
  bottom: 40px;
  left: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

.toggle {
  margin-left: 15px;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.d-flex {
  display: flex;
}

.allignCenter {
  align-items: center;
}

.justifyCenter {
  justify-content: center;
}

.dfja {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

.sidebar::-webkit-scrollbar {
  width: 7px;
  background-color: #f5f5f5;
}

.sidebar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  /* background-color: #635985; */
  background-color: transparent; /* Make the scrollbar transparent */
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}
::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #635985;
}

.full-width-event .fc-event-title {
  white-space: nowrap; /* Prevents the text from wrapping */
  overflow: hidden; /* Hides the text that overflows the event slot */
  text-overflow: ellipsis; /* Adds an ellipsis (...) when the text overflows */
}
*:not(.fc a) {
  text-decoration: none !important;
}

.ant-layout-header {
  height: 3rem; /* Match header height */
}

.ant-menu-horizontal {
  line-height: 3rem; /* Center menu items vertically */
}

.toggle {
  height: 48px; /* Match button height to header */
  line-height: 3rem; /* Center button icon vertically */
}
