/*Ck Editor Imports*/
@import url("https://fonts.googleapis.com/css2?family=Oswald&family=PT+Serif:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap");
/*Ck Editor Imports*/

#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* body,
div,
p,
span {
   font-family: "poppins", sans-serif !important; 
} */
/* @font-face {
  font-family: "poppins-bold";
  src: url(./assets/font/Poppins/Poppins-Bold.ttf);
}


@font-face {
  font-family: "poppins";
  src: url(./assets/font/Poppins/Poppins-Regular.ttf) format("truetype");
} */

@font-face {
  font-family: "DancingScript-Bold";
  src: url(./assets/font/dancing_script/DancingScript-Bold.ttf);
}

.sidebar {
  color: #fff;
  /* min-width: 250px !important; */
}

.ant-menu-submenu-title {
  padding-left: 0.4em !important;
  font-weight: 700;
}
.ant-menu-submenu .ant-menu-submenu-inline > .ant-menu-submenu-title {
  padding-left: 0.8em !important;
  font-weight: 500;
}

li .ant-menu-item {
  padding-left: 1em !important;
}
.ant-menu-title-content {
  margin-inline-start: 5px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 50%;
}

.menu-bar {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  font-size: 1rem;
  width: auto;
  position: relative;
}

.toggle-theme-btn {
  position: absolute;
  bottom: 40px;
  left: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

.toggle {
  margin-left: 15px;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.d-flex {
  display: flex;
}

.allignCenter {
  align-items: center;
}

.justifyCenter {
  justify-content: center;
}

.dfja {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

.sidebar::-webkit-scrollbar {
  width: 7px;
  background-color: #f5f5f5;
}

.sidebar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  /* background-color: #635985; */
  background-color: transparent; /* Make the scrollbar transparent */
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}
::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #635985;
}

.full-width-event .fc-event-title {
  white-space: nowrap; /* Prevents the text from wrapping */
  overflow: hidden; /* Hides the text that overflows the event slot */
  text-overflow: ellipsis; /* Adds an ellipsis (...) when the text overflows */
}
*:not(.fc a) {
  text-decoration: none !important;
}

.ant-layout-header {
  height: 3rem; /* Match header height */
}

.ant-menu-horizontal {
  line-height: 3rem; /* Center menu items vertically */
}

.toggle {
  height: 48px; /* Match button height to header */
  line-height: 3rem; /* Center button icon vertically */
}

/* C K Editor Start*/

@media print {
  body {
    margin: 0 !important;
  }
}

.main-container {
  font-family: "Lato";
  /* width: fit-content; */
  /* margin-left: auto;
  margin-right: auto; */
  /* width: 100%; */
}

.ck-content {
  font-family: "Lato";
  line-height: 1.6;
  word-break: break-word;
}

/* .editor-container_classic-editor .editor-container__editor {
   min-width: 795px;
  max-width: 795px; 
} */

.ck-editor__editable_inline {
  min-height: 20rem;
}

.ck .ck-powered-by {
  display: none !important;
}

.ck-content h3.category {
  font-family: "Oswald";
  font-size: 20px;
  font-weight: bold;
  color: #555;
  letter-spacing: 10px;
  margin: 0;
  padding: 0;
}

.ck-content h2.document-title {
  font-family: "Oswald";
  font-size: 50px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  border: 0;
}

.ck-content h3.document-subtitle {
  font-family: "Oswald";
  font-size: 20px;
  color: #555;
  margin: 0 0 1em;
  font-weight: bold;
  padding: 0;
}

.ck-content p.info-box {
  --background-size: 30px;
  --background-color: #e91e63;
  padding: 1.2em 2em;
  border: 1px solid var(--background-color);
  background: linear-gradient(
      135deg,
      var(--background-color) 0%,
      var(--background-color) var(--background-size),
      transparent var(--background-size)
    ),
    linear-gradient(
      135deg,
      transparent calc(100% - var(--background-size)),
      var(--background-color) calc(100% - var(--background-size)),
      var(--background-color)
    );
  border-radius: 10px;
  margin: 1.5em 2em;
  box-shadow: 5px 5px 0 #ffe6ef;
}

.ck-content blockquote.side-quote {
  font-family: "Oswald";
  font-style: normal;
  float: right;
  width: 35%;
  position: relative;
  border: 0;
  overflow: visible;
  z-index: 1;
  margin-left: 1em;
}

.ck-content blockquote.side-quote::before {
  content: "“";
  position: absolute;
  top: -37px;
  left: -10px;
  display: block;
  font-size: 200px;
  color: #e7e7e7;
  z-index: -1;
  line-height: 1;
}

.ck-content blockquote.side-quote p {
  font-size: 2em;
  line-height: 1;
}

.ck-content blockquote.side-quote p:last-child:not(:first-child) {
  font-size: 1.3em;
  text-align: right;
  color: #555;
}

.ck-content span.marker {
  background: yellow;
}

.ck-content span.spoiler {
  background: #000;
  color: #000;
}

.ck-content span.spoiler:hover {
  background: #000;
  color: #fff;
}

.ck-content pre.fancy-code {
  border: 0;
  margin-left: 2em;
  margin-right: 2em;
  border-radius: 10px;
}

.ck-content pre.fancy-code::before {
  content: "";
  display: block;
  height: 13px;
  background: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1NCAxMyI+CiAgPGNpcmNsZSBjeD0iNi41IiBjeT0iNi41IiByPSI2LjUiIGZpbGw9IiNGMzZCNUMiLz4KICA8Y2lyY2xlIGN4PSIyNi41IiBjeT0iNi41IiByPSI2LjUiIGZpbGw9IiNGOUJFNEQiLz4KICA8Y2lyY2xlIGN4PSI0Ny41IiBjeT0iNi41IiByPSI2LjUiIGZpbGw9IiM1NkM0NTMiLz4KPC9zdmc+Cg==);
  margin-bottom: 8px;
  background-repeat: no-repeat;
}

.ck-content pre.fancy-code-dark {
  background: #272822;
  color: #fff;
  box-shadow: 5px 5px 0 #0000001f;
}

.ck-content pre.fancy-code-bright {
  background: #dddfe0;
  color: #000;
  box-shadow: 5px 5px 0 #b3b3b3;
}
/* C K Editor End */

.ant-table-row-profile-test {
  background-color: #ffe1ff;
} 

.ant-table-row-profile-test:hover > td {
  background-color: #ffe1ff !important;
} 

.custom-table .ant-table-thead > tr > th {
  background-color: #e6e6fa;
  color: black;
  font-weight: "bold";
}
.custom-table .green-row {
  background-color: #a1f7a1;
}

.custom-table .green-row:hover {
  background-color: #a1f7a1 !important; 
}


.invalid-input .ant-select-selector {
  background-color: #ffccc7 !important;
}
 /* .ant-form-item {
  margin: 0 !important;
  padding: 0 !important;
} */
 /* .ant-table-cell {
  padding: 0 !important;
}   */

/* .form-item-no-padding {
  margin: 0 !important;
  padding: 0 !important;
} */

.full-page-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999; /* Ensure it's above other elements */
}

.disabled-row {
  background-color: #f5f5f5;
  pointer-events: none; /* Prevent any interaction */
  opacity: 0.6;
}



                                                           /* Light Theme Styles */


body.light-theme {
  /*Ck Editor Imports*/
  @import url("https://fonts.googleapis.com/css2?family=Oswald&family=PT+Serif:ital,wght@0,400;0,700;1,400&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap");
  /*Ck Editor Imports*/

  #root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #e90808;
  }

 #root,
 .ant-layout {
  background: #E5EAF0!important;
  
}

  /* body,
  div,
  p,
  span {
    font-family: "poppins", sans-serif !important;
  } */
  /* @font-face {
    font-family: "poppins-bold";
    src: url(./assets/font/Poppins/Poppins-Bold.ttf);
  }
  @font-face {
    font-family: "poppins";
    src: url(./assets/font/Poppins/Poppins-Regular.ttf) format("truetype");
  } */
  @font-face {
    font-family: "DancingScript-Bold";
    src: url(./assets/font/dancing_script/DancingScript-Bold.ttf);
  }
  .sidebar {
    color: #fff;
  }
  .ant-menu-submenu-title {
    padding-left: 0.4em !important;
    font-weight: 700;
  }
  .ant-menu-submenu .ant-menu-submenu-inline > .ant-menu-submenu-title {
    padding-left: 0.8em !important;
    font-weight: 500;
  }
  li .ant-menu-item {
    padding-left: 1em !important;
  }
  .ant-menu-title-content {
    margin-inline-start: 5px;
  }
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .logo-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 50%;
  }
  .menu-bar {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    font-size: 1rem;
    width: auto;
    position: relative;
  }
  .toggle-theme-btn {
    position: absolute;
    bottom: 40px;
    left: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
  }
  .toggle {
    margin-left: 15px;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .d-flex {
    display: flex;
  }
  .allignCenter {
    align-items: center;
  }
  .justifyCenter {
    justify-content: center;
  }
  .dfja {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sidebar {
    width: 1300px;
    color: #ac1f1f;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-display: hidden;
    scrollbar-color: #0655a3 rgba(205, 208, 211, 0.75);
    transition: width 0.1s ease-in-out;
    border-radius: 10px;
    scrollbar-width: none;
    -ms-overflow-style: none;
    transition: width 0.3s ease-in-out;
    border-radius: 5%;
  }
  .sidebar::-webkit-scrollbar {
    display: none;
  }
  .sidebar:hover {
    width: 280px;
  }
  .sidebar::-webkit-scrollbar {
    width: 7px;
  }
  .sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .sidebar li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #f3f7f5;
    transition: background-color 0.2s ease;
  }
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #f5f5f5;
  }
  ::-webkit-scrollbar {
    width: 12px;
    background-color: #f5f5f5;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #635985;
  }
  .full-width-event .fc-event-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  *:not(.fc a) {
    text-decoration: none !important;
  }
  .ant-layout-header {
    height: 3rem;
  }
  .ant-menu-horizontal {
    line-height: 3rem;
  }
  .toggle {
    height: 48px;
    line-height: 3rem;
  }
  @media print {
    body {
      margin: 0 !important;
    }
  }
  .main-container {
    font-family: "Lato";
  }
  .ck-content {
    font-family: "Lato";
    line-height: 1.6;
    word-break: break-word;
  }
  .ck-editor__editable_inline {
    min-height: 20rem;
  }
  .ck .ck-powered-by {
    display: none !important;
  }
  .ck-content h3.category {
    font-family: "Oswald";
    font-size: 20px;
    font-weight: bold;
    color: #555;
    letter-spacing: 10px;
    margin: 0;
    padding: 0;
  }
  .ck-content h2.document-title {
    font-family: "Oswald";
    font-size: 50px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    border: 0;
  }
  .ck-content h3.document-subtitle {
    font-family: "Oswald";
    font-size: 20px;
    color: #555;
    margin: 0 0 1em;
    font-weight: bold;
    padding: 0;
  }
  .ck-content p.info-box {
    --background-size: 30px;
    --background-color: #ad2661;
    padding: 1.2em 2em;
    border: 1px solid var(--background-color);
    background: linear-gradient(
      135deg,
      var(--background-color) 0%,
      var(--background-color) var(--background-size),
      transparent var(--background-size)
    ),
    linear-gradient(
      135deg,
      transparent calc(100% - var(--background-size)),
      var(--background-color) calc(100% - var(--background-size)),
      var(--background-color)
    );
    border-radius: 10px;
    margin: 1.5em 2em;
    box-shadow: 5px 5px 0 #ffe6ef;
  }
  .ck-content blockquote.side-quote {
    font-family: "Oswald";
    font-style: normal;
    float: right;
    width: 35%;
    position: relative;
    border: 0;
    overflow: visible;
    z-index: 1;
    margin-left: 1em;
  }
  .ck-content blockquote.side-quote::before {
    content: "“";
    position: absolute;
    top: -37px;
    left: -10px;
    display: block;
    font-size: 200px;
    color: #e7e7e7;
    z-index: -1;
    line-height: 1;
  }
  .ck-content blockquote.side-quote p {
    font-size: 2em;
    line-height: 1;
  }
  .ck-content blockquote.side-quote p:last-child:not(:first-child) {
    font-size: 1.3em;
    text-align: right;
    color: #555;
  }
  .ck-content span.marker {
    background: yellow;
  }
  .ck-content span.spoiler {
    background: #000;
    color: #000;
  }
  .ck-content span.spoiler:hover {
    background: #000;
    color: #fff;
  }
  .ck-content pre.fancy-code {
    border: 0;
    margin-left: 2em;
    margin-right: 2em;
    border-radius: 10px;
  }
  .ck-content pre.fancy-code::before {
    content: "";
    display: block;
    height: 13px;
    background: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1NCAxMyI+CiAgPGNpcmNsZSBjeD0iNi41IiBjeT0iNi41IiByPSI2LjUiIGZpbGw9IiNGMzZCNUMiLz4KICA8Y2lyY2xlIGN4PSIyNi41IiBjeT0iNi41IiByPSI2LjUiIGZpbGw9IiNGOUJFNEQiLz4KICA8Y2lyY2xlIGN4PSI0Ny41IiBjeT0iNi41IiByPSI2LjUiIGZpbGw9IiM1NkM0NTMiLz4KPC9zdmc+Cg==);
    margin-bottom: 8px;
    background-repeat: no-repeat;
  }
  .ck-content pre.fancy-code-dark {
    background: #272822;
    color: #fff;
    box-shadow: 5px 5px 0 #0000001f;
  }
  .ck-content pre.fancy-code-bright {
    background: #dddfe0;
    color: #000;
    box-shadow: 5px 5px 0 #b3b3b3;
  }
  .ant-table-row-profile-test {
    background-color: #ffe1ff;
  }
  .ant-table-row-profile-test:hover > td {
    background-color: #ffe1ff !important;
  }
  .custom-table .ant-table-thead > tr > th {
    background-color: #5353a3;
    color: black;
    font-weight: "bold";
  }
  .custom-table .green-row {
    background-color: #a1f7a1;
  }
  .custom-table .green-row:hover {
    background-color: #a1f7a1 !important;
  }
  .invalid-input .ant-select-selector {
    background-color: #f7f5f4 !important;
  }
  .full-page-loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
  }
  .disabled-row {
    background-color: #f5f5f5;
    pointer-events: none;
    opacity: 0.6;
  }
  .ant-menu-item .anticon,
  .ant-menu-submenu-title .anticon {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    margin-right: 12px;
  }
  .ant-menu-root > .ant-menu-item:first-child .anticon,
  .ant-menu-root > .ant-menu-submenu:first-child .ant-menu-submenu-title .anticon {
    background-color: #4287f5;
  }
  .ant-menu-root > .ant-menu-item:nth-child(2) .anticon,
  .ant-menu-root > .ant-menu-submenu:nth-child(2) .ant-menu-submenu-title .anticon {
    background-color: #2570d3;
  }
  .ant-menu-root > .ant-menu-item:nth-child(3) .anticon,
  .ant-menu-root > .ant-menu-submenu:nth-child(3) .ant-menu-submenu-title .anticon {
    background-color: #42f545;
  }
  .ant-menu-root > .ant-menu-item:nth-child(4) .anticon,
  .ant-menu-root > .ant-menu-submenu:nth-child(4) .ant-menu-submenu-title .anticon {
    background-color: #f5a442;
  }
  .ant-menu-root > .ant-menu-item:nth-child(5) .anticon,
  .ant-menu-root > .ant-menu-submenu:nth-child(5) .ant-menu-submenu-title .anticon {
    background-color: #9942f5;
  }
  .ant-menu-root > .ant-menu-item:nth-child(6) .anticon,
  .ant-menu-root > .ant-menu-submenu:nth-child(6) .ant-menu-submenu-title .anticon {
    background-color: #f542b3;
  }
  .ant-menu-submenu-title .anticon {
    background-color: #42f5d1;
  }
  .ant-menu-root > .ant-menu-item:nth-child(2) .anticon,
  .ant-menu-root > .ant-menu-submenu:nth-child(2) .ant-menu-submenu-title .antico {
    background-color: #19926a;
  }
  .ant-menu-root > .ant-menu-item:nth-child(9) .anticon,
  .ant-menu-root > .ant-menu-submenu:nth-child(9) .ant-menu-submenu-title .anticon {
    background-color: #4251f5;
  }
  .ant-menu-root > .ant-menu-item:nth-child(10) .anticon,
  .ant-menu-root > .ant-menu-submenu:nth-child(10) .ant-menu-submenu-title .anticon {
    background-color: #42b8f5;
  }
  .ant-menu-item .anticon svg,
  .ant-menu-submenu-title .anticon svg {
    color: white !important;
  }
  .ant-menu-item,
  .ant-menu-submenu-title {
    color: white !important;
  }
  .ant-menu-item-selected {
    background: rgba(255, 255, 255, 0.1) !important;
  }
  .ant-menu-item-icon,
  .ant-menu-submenu-title {
    color: rgb(237, 236, 241) !important;
  }
  .ant-menu-item {
    background-color: #233e50;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-left: 1em !important;
  }
  .ant-menu-inline .ant-menu-item {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .ant-menu-inline .ant-menu-item-selected {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden !important;
  }
  .ant-menu-item-selected {
    background: rgba(24, 144, 255, 0.7) !important;
    border-left: 4px solid #1890ff !important;
    border-right: 4px solid #1890ff !important;
    box-shadow: 0 0 10px rgba(24, 144, 255, 0.5);
  }
  .ant-menu-item-selected .ant-menu-title-content {
    font-weight: bold;
  }
  .ant-menu-submenu-title {
    padding-left: 0.4em !important;
    font-weight: 700;
  }
  .ant-menu-submenu .ant-menu-submenu-inline > .ant-menu-submenu-title {
    padding-left: 0.8em !important;
    font-weight: 500;
  }
  li .ant-menu-item {
    padding-left: 1em !important;
  }
  .ant-menu-title-content {
    margin-inline-start: 20px;
  }
  .ant-menu-item-icon {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff22;
    border-radius: 4px;
    margin-right: 12px;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  .ant-menu-item:hover .ant-menu-item-icon {
    background-color: #2b5c77;
  }
  .ant-menu-item:hover .ant-menu-item-icon {
    background-color: #1890ff22;
  }
  .ant-menu-item:nth-child(1) .ant-menu-item-icon {
    background-color: #52d406d3;
  }
  .ant-menu-item:nth-child(2) .ant-menu-item-icon {
    background-color: #b6c0b6;
  }
  .ant-menu-item:nth-child(3) .ant-menu-item-icon {
    background-color: #0000FF;
  }
  .ant-menu-item:nth-child(4) .ant-menu-item-icon {
    background-color: #FFFF00;
  }
  .ant-menu-item:nth-child(5) .ant-menu-item-icon {
    background-color: #FF00FF;
  }
  .ant-menu-item:nth-child(6) .ant-menu-item-icon {
    background-color: #00FFFF;
  }
  .ant-menu-item:nth-child(7) .ant-menu-item-icon {
    background-color: #FFA500;
  }
  .ant-menu-item:nth-child(8) .ant-menu-item-icon {
    background-color: #800080;
  }
  .ant-menu-item:nth-child(9) .ant-menu-item-icon {
    background-color: #008000;
  }
  .ant-menu-item:nth-child(10) .ant-menu-item-icon {
    background-color: #4682B4;
  }
  .ant-menu-item:nth-child(11) .ant-menu-item-icon {
    background-color: #D2691E;
  }
  .ant-menu-item:nth-child(12) .ant-menu-item-icon {
    background-color: #FF69B4;
  }
  .ant-menu-item:nth-child(13) .ant-menu-item-icon {
    background-color: #00CED1;
  }
  .ant-menu-item:nth-child(14) .ant-menu-item-icon {
    background-color: #9400D3;
  }
  .ant-menu-item:nth-child(15) .ant-menu-item-icon {
    background-color: #A0522D;
  }
  .ant-menu-item:nth-child(16) .ant-menu-item-icon {
    background-color: #1E90FF;
  }
  .ant-menu-item:nth-child(17) .ant-menu-item-icon {
    background-color: #FFD700;
  }
  .ant-menu-item:nth-child(18) .ant-menu-item-icon {
    background-color: #3CB371;
  }
  .ant-menu-item:nth-child(19) .ant-menu-item-icon {
    background-color: #B8860B;
  }
  .ant-menu-item:nth-child(20) .ant-menu-item-icon {
    background-color: #FA8072;
  }
  .ant-menu {
    background: transparent !important;
  }
  .ant-menu-submenu-title > .anticon {
    background-color: var(--menu-color-n);
  }
  .ant-layout-sider {
    background: linear-gradient(180deg, #4a90e2 0%, rgba(74, 144, 226, 0.8) 100%) !important;
    box-shadow: 2px 0 8px rgba(0, 0, 0, 0.08);
    border-radius: 0 25px 25px 0;
    overflow: hidden;
    margin: 0;
    height: 100vh !important;
    position: fixed;
    left: 0;
    top: 0;
  }
  .ant-layout-header {
    background: linear-gradient(90deg, #42b8f5) !important;
    border-radius: 0 0 0 20px;
  }
}


                                                       /* Dark Theme Styles */
body.dark-theme {
  /* Fonts */
  @import url("https://fonts.googleapis.com/css2?family=Oswald&family=PT+Serif:ital,wght@0,400;0,700;1,400&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap");

  background: #001529 !important;
  color: #E0E0E0 !important; 
}

body.dark-theme #root,
body.dark-theme .ant-layout {
  background: #E4F5F1 !important;
  
}

body.dark-theme .ant-layout-header {
  background: linear-gradient(90deg, #001529, #002140) !important;
  color: #fff !important;
}

body.dark-theme .ant-layout-sider {
  background: linear-gradient(180deg, #001529 0%, rgba(0, 21, 41, 0.8) 100%) !important;
  color: #fff !important;
}

body.dark-theme .sidebar {
  background: linear-gradient(180deg, #001529 0%, rgba(0, 21, 41, 0.8) 100%) !important;
  color: #E53935 !important;
  border-radius: 10px;
}

body.dark-theme .ant-menu,
body.dark-theme .ant-menu-item,
body.dark-theme .ant-menu-submenu-title,
body.dark-theme .ant-menu-title-content {
  background: #001529 !important;
  color: #fff !important;
}


/* Scrollbar for dark theme */
body.dark-theme ::-webkit-scrollbar {
  background: #002140;
}
body.dark-theme ::-webkit-scrollbar-thumb {
  background: #275d91;
}

/* CKEditor dark code block */
body.dark-theme .ck-content pre.fancy-code-dark {
  background: #232323 !important;
}

body.dark-theme .ant-layout-header,
body.dark-theme .ant-layout-header * {
  color: #fff !important;
}

